
{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Refund Policy" %} - EventsHub{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-lg-10 mx-auto">
            <h1>{% trans "Refund Policy" %}</h1>
            
            <div class="card">
                <div class="card-body">
                    <h3>{% trans "Terms of Refund" %}</h3>
                    <p>{% trans "Here you can describe your refund policy..." %}</p>
                    
                    <h4>{% trans "Refund Conditions" %}</h4>
                    <ul>
                        <li>{% trans "Condition 1" %}</li>
                        <li>{% trans "Condition 2" %}</li>
                        <li>{% trans "Condition 3" %}</li>
                    </ul>
                    
                    <h4>{% trans "Contact Information" %}</h4>
                    <p>{% trans "For refund requests, please contact us at:" %}</p>
                    <p>Email: support@eventshub.com</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}